<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <bean id="myServlet" class="com.vineeth.test.ui.TestServlet"/>
    <service ref="myServlet" interface="javax.servlet.http.HttpServlet">
        <service-properties>
            <entry key="alias" value="/my-test" />
        </service-properties>
    </service>
</blueprint>